// COLOR PALLETTE- LIGHT THEME

$color-light-primary: #1DE9B6;
$color-light-secondary: #64FFDA;

$color-dark-primary: #2b2c34;
$color-dark-secondary: #616161;
$color-dark-tertiary: #bdbdbd;

$color-background-primary: #fffffe;
$color-background-secondary: #fbfbfb;


// COLOR PALLETTE- DARK THEME
/*
$color-light-primary: #1DE9B6;
$color-light-secondary: #64FFDA;

$color-dark-primary: #fffffe;
$color-dark-secondary: #fbfbfb;
$color-dark-tertiary: #bdbdbd;

$color-background-primary: #1F1F1F;
$color-background-secondary: #212121;
*/


// FONT SIZE
$default-font-size: 1.6rem;
$large-font-size: 4.4rem;
$medium-font-size: 3.8rem;
$small-font-size: 2rem;
$smaller-font-size: 1.8rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;